#about,
#services,
#testimonials,
#contact {
    padding-top: 100px;
    padding-bottom: 80px;
}

#services h1,
#testimonials,
#contact h1,
#contact p {
    text-align: center;
}

#services h1,
#testimonials h1 {
    margin-bottom: 40px;
}

.clear {
    clear: both;
}

/* Navbar */

#navbar img {
    height: 64px;
}

#navbar nav {
    float: right;
    padding-top: 18.5px;
    padding-bottom: 18.5px;
}

#navbar nav a {
    font-size: 18px;
}

/* Jumbotron */

#jumbotron {
    background-image: url(https://images.unsplash.com/photo-1519756301029-33fef7098ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1700&q=100);
    background-position: center center;
    background-size: cover;
}

#jumbotron > .container {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-right: 50%;
}

#jumbotron h1 {
    font-size: 3rem;
}

#jumbotron p {
    margin-bottom: 25px;
}

#jumbotron button {
    padding-left: 25px;
    padding-right: 25px;
    color: #000;
    background-color: #5ce045;
    border-color: #4bbb38;
}

#jumbotron button:hover {
    background-color: #52cb3c;
}

/* About */

#about h1 {
    margin-bottom: 15px;
}

#about p {
    margin: 0;
}

#about img {
    width: 100%;
}

/* Services */

#services .col-6 {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

#services h3 {
    margin: 8px 0;
}

#services p {
    margin-bottom: 25px;
    font-size: 14px;
}

/* Testimonials */

#testimonials .col {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

/* Contact */

#contact p {
    margin-bottom: 40px;
}

#contact > .container {
    width: 70%;
}

/* Footer */

#footer {
    background-color: #f5f5f5;
}

#footer > .container {
    padding-top: 15px;
    padding-bottom: 15px;
}

#footer > .container > .left {
    float: left;
    text-align: left;
}

#footer > .container > .right {
    float: right;
    text-align: right;
}

#footer p {
    margin: 2.5px 0;
}