.clear {
    clear: both;
}

/* Navbar */
#navbar img {
    height: 64px;
}

#navbar nav {
    float: right;
    padding-top: 18.5px;
    padding-bottom: 18.5px;
}

#navbar nav a {
    font-size: 18px;
}

/* Jumbotron */
#jumbotron {
    height: 600px;
    background-image: url(https://images.unsplash.com/photo-1519756301029-33fef7098ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1700&q=100);
    background-position: center center;
    background-size: cover;
}

#jumbotron > .container {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-right: 50%;
}

#jumbotron h1 {
    font-size: 3rem;
}

#jumbotron p {
    margin-bottom: 25px;
}

#jumbotron button {
    padding-left: 25px;
    padding-right: 25px;
    color: #000;
    background-color: #5ce045;
    border-color: #4bbb38;
}

#jumbotron button:hover {
    background-color: #52cb3c;
}

/* Contact */
#contact {
    margin-top: 160px;
    margin-bottom: 100px;
}

#contact p {
    margin-bottom: 40px;
}

#contact h1,
#contact p {
    text-align: center;
}

/* Footer */
#footer {
    background-color: #f5f5f5;
}

#footer > .container {
    padding-top: 15px;
    padding-bottom: 15px;
}

#footer > .container > .left {
    float: left;
    text-align: left;
}

#footer > .container > .right {
    float: right;
    text-align: right;
}

#footer p {
    margin: 2.5px 0;
}





#about {
    margin-top: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
